In [19]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt
import yfinance as yf

In [18]:
#pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\next\miniconda3\lib\site-packages (from yfinance) (1.23.1)
Requirement already satisfied: requests>=2.26 in c:\users\next\miniconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\next\miniconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\next\miniconda3\lib\site-packages (from yfinance) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\next\miniconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\next\miniconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\next\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\next\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\next\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\next\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\next\miniconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.6.15)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.74

#https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#yahoo-finance-data
yahoo - retrieve daily stock prices (high, open, close, volu,e and adjusted close)

yahoo-actions - retrieve historical corporate actions (dividends and stock splits)

yahoo-dividends - retrieve historical dividends

In [9]:
start = dt.datetime(2022, 8, 1)
end = dt.datetime(2022, 8, 20)

df_normal = web.DataReader('ICICIBANK.BO', 'yahoo', start=start, end=end)

In [10]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-08-01,825.000000,817.099976,819.000000,823.299988,7395011.0,818.390015
2022-08-02,822.000000,812.299988,821.799988,816.750000,112850.0,811.879089
2022-08-03,827.900024,811.500000,816.500000,824.700012,250820.0,819.781738
2022-08-04,830.000000,808.500000,822.799988,819.849976,220402.0,814.960571
2022-08-05,840.900024,821.549988,821.549988,838.400024,286695.0,833.400024

In [11]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-08-01,825.000000,817.099976,819.000000,823.299988,7395011.0,818.390015
2022-08-02,822.000000,812.299988,821.799988,816.750000,112850.0,811.879089
2022-08-03,827.900024,811.500000,816.500000,824.700012,250820.0,819.781738
2022-08-04,830.000000,808.500000,822.799988,819.849976,220402.0,814.960571
2022-08-05,840.900024,821.549988,821.549988,838.400024,286695.0,833.400024
2022-08-08,842.299988,830.950012,838.400024,836.400024,320925.0,836.400024
2022-08-10,853.000000,840.000000,840.000000,848.500000,454764.0,848.500000
2022-08-11,866.150024,854.200012,854.200012,859.299988,1379629.0,859.299988
2022-08-12,876.950012,858.299988,860.000000,874.750000,274292.0,874.750000
2022-08-16,884.500000,876.500000,878.549988,879.650024,254192.0,879.650024
2022-08-17,885.599976,878.150024,884.549988,883.200012,356579.0,883.200012
2022-08-18,887.250000,875.099976,880.200012,885.000000,1575566.0,885.000000
2022-08-19,886.549988,864.400024,883.700012,870.349976,151434.0,870.349976

In [14]:
actions = web.DataReader('ICICIBANK.BO', 'yahoo-actions', start=start, end=end)

In [15]:
actions

              action  value
2022-08-08  DIVIDEND    5.0

In [16]:
dividends = web.DataReader('ICICIBANK.BO', 'yahoo-dividends', start, end)

In [17]:
dividends.head()

              action  value
2022-08-08  DIVIDEND    5.0

In [23]:
icici = yf.Ticker("ICICIBANK.BO")

In [24]:
icici

yfinance.Ticker object <ICICIBANK.BO>

In [25]:
icici.info

{'ebitdaMargins': None,
 'profitMargins': None,
 'grossMargins': None,
 'operatingCashflow': None,
 'revenueGrowth': None,
 'operatingMargins': None,
 'ebitda': None,
 'targetLowPrice': None,
 'recommendationKey': 'none',
 'grossProfits': 901037818000,
 'freeCashflow': None,
 'targetMedianPrice': None,
 'currentPrice': 870.35,
 'earningsGrowth': None,
 'currentRatio': None,
 'returnOnAssets': None,
 'numberOfAnalystOpinions': None,
 'targetMeanPrice': None,
 'debtToEquity': None,
 'returnOnEquity': None,
 'targetHighPrice': None,
 'totalCash': None,
 'totalDebt': None,
 'totalRevenue': None,
 'totalCashPerShare': None,
 'financialCurrency': 'INR',
 'maxAge': 1,
 'revenuePerShare': None,
 'quickRatio': None,
 'recommendationMean': None,
 'exchange': 'BSE',
 'shortName': 'ICICI BANK LTD.',
 'longName': 'ICICI Bank Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'ICICIBANK.BO',
 'market': 'in_market',
 'previousClose': 885,
 'regularMarketOpen': 883.7,
 'twoHundredDayAverage': 466.05072,
 'trailingAnnualDividendYield': 0.0011299435,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 886.55,
 'navPrice': None,
 'averageDailyVolume10Day': 737558,
 'totalAssets': None,
 'regularMarketPreviousClose': 885,
 'fiftyDayAverage': 583.18,
 'trailingAnnualDividendRate': 1,
 'open': 883.7,
 'toCurrency': None,
 'averageVolume10days': 737558,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 864.4,
 'priceHint': 2,
 'currency': 'INR',
 'trailingPE': 56.267776,
 'regularMarketVolume': 151434,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 6003282149376,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 1012637,
 'priceToSalesTrailing12Months': None,
 'dayLow': 864.4,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 151434,
 'fiftyTwoWeekHigh': 886.55,
 'forwardPE': None,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 269,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 886.55,
 'coinMarketCapLink': None,
 'regularMarketPrice': 870.35,
 'preMarketPrice': None,
 'logo_url': ''}

In [26]:
icici.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03,9.543559,9.613545,9.161817,9.613545,2611840,0.0,0.0
2000-01-04,10.109811,10.230697,9.199992,9.371777,1544647,0.0,0.0
2000-01-05,9.225441,9.416312,8.627378,8.818250,2402119,0.0,0.0
2000-01-06,8.907323,9.454487,8.780075,8.799163,1404452,0.0,0.0
2000-01-07,8.417420,8.907323,8.271086,8.398334,2163958,0.0,0.0
...,...,...,...,...,...,...,...
2022-08-12,860.000000,876.950012,858.299988,874.750000,274292,0.0,0.0
2022-08-16,878.549988,884.500000,876.500000,879.650024,254192,0.0,0.0
2022-08-17,884.549988,885.599976,878.150024,883.200012,356579,0.0,0.0
2022-08-18,880.200012,887.250000,875.099976,885.000000,1575566,0.0,0.0
2022-08-19,883.700012,886.549988,864.400024,870.349976,151434,0.0,0.0

In [29]:
icici.actions

            Dividends  Stock Splits
Date
2000-04-10   0.272727           0.0
2001-05-08   0.363636           0.0
2002-02-21   0.363636           0.0
2003-08-04   1.363636           0.0
2004-09-02   1.363636           0.0
2005-08-04   1.545455           0.0
2006-07-06   1.545455           0.0
2007-06-14   1.818182           0.0
2008-07-10   2.000000           0.0
2009-06-11   2.000000           0.0
2010-06-10   2.181818           0.0
2011-06-02   2.545455           0.0
2012-05-31   3.000000           0.0
2013-05-30   3.636364           0.0
2014-06-04   4.181818           0.0
2014-06-05   4.181818           0.0
2014-12-04   0.000000           5.0
2015-06-04   4.545455           0.0
2016-06-16   4.545455           0.0
2017-06-20   2.272727           1.1
2018-07-23   1.500000           0.0
2018-07-24   1.500000           0.0
2018-08-24   1.500000           0.0
2019-07-22   1.000000           0.0
2019-07-23   1.000000           0.0
2021-07-29   2.000000           0.0
2022-08-08   5.000000           0.0