## Data Loading, Storage, and File Formats

## 6.1 Reading and Writing Data in Text Format.

In [3]:
import pandas as pd

In [4]:
filename = 'data/ex1.csv'

In [5]:
df = pd.read_csv(filename)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
pd.read_csv('data/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
!cat data/ex2.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [11]:
pd.read_csv('data/ex2.csv', names=['a','b','c','d','messages'])

   a   b   c   d messages
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo

In [13]:
names=['a','b','c','d','message']
pd.read_csv('data/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
pd.read_csv('data/csv_mindex.csv', index_col=['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
pg 189