## Intro to programming

In [1]:
# https://www.kaggle.com/code/alexisbcook/functions/tutorial

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(12).reshape((3,4)), columns=list('abcd'))
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [17]:
df.loc[]

a    4
b    5
c    6
d    7
Name: 1, dtype: int32

In [18]:
a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [19]:
len(a)

12

In [21]:
b = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar','chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density','pH', 'sulphates', 'alcohol', 'quality']

In [22]:
b

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [23]:
len(b)

12

In [25]:
l
type(list(len(b)))

TypeError: 'int' object is not iterable

In [28]:
list([2])

[2]

In [ ]:
https://www.kaggle.com/code/ryanholbrook/deep-neural-networks